Repository brave/brave-ui, pull requests merged in 2018-12, with the labels that each got.

#312 Add support for backupWallet notification
  src/features/rewards/walletWrapper/index.tsx
Labels: rewards

#305 Fixing rewards toggle for long translations
  src/features/rewards/mobile/mainToggleMobile/__snapshots__/spec.tsx.snap
  src/features/rewards/mobile/mainToggleMobile/style.ts
Labels: PR/pending-review

#314 Revert sync
  src/components/buttonsIndicators/button/__snapshots__/spec.tsx.snap
  src/components/buttonsIndicators/button/style.ts
  src/features/rewards/modalBackupRestore/__snapshots__/spec.tsx.snap
  src/features/sync/grid/index.ts
  src/features/sync/images/add_icon.svg
  src/features/sync/images/default_icon.svg
  src/features/sync/images/desktop_icon.svg
  src/features/sync/images/index.ts
  src/features/sync/images/mobile_icon.svg
  src/features/sync/images/mobile_picture.png
  src/features/sync/images/remove_icon.svg
  src/features/sync/images/start_icon.svg
  src/features/sync/index.ts
  src/features/sync/misc/index.ts
  src/features/sync/modal/index.ts
  src/features/sync/text/index.ts
  stories/components/popupsModal.tsx
  stories/features/sync/disabledContent.tsx
  stories/features/sync/enabledContent.tsx
  stories/features/sync/modals.tsx
  stories/features/sync/modals/addNewChainCameraOption.tsx
  stories/features/sync/modals/addNewChainNoCamera.tsx
  stories/features/sync/modals/deviceType.tsx
  stories/features/sync/modals/enterSyncCode.tsx
  stories/features/sync/modals/existingSyncCode.tsx
  stories/features/sync/modals/newToSync.tsx
  stories/features/sync/modals/removeMainDevice.tsx
  stories/features/sync/modals/removeOtherDevice.tsx
  stories/features/sync/modals/resetSync.tsx
  stories/features/sync/modals/scanCode.tsx
  stories/features/sync/modals/syncNewDevice.tsx
  stories/features/sync/modals/viewSyncCode.tsx
  stories/features/sync/page/fakeData.ts
  stories/features/sync/page/fakeLocale.ts
  stories/features/sync/page/index.tsx
Labels: features/sync, revert

#315 Revert sync in 0.59.x branch
  src/components/buttonsIndicators/button/__snapshots__/spec.tsx.snap
  src/components/buttonsIndicators/button/style.ts
  src/features/rewards/modalBackupRestore/__snapshots__/spec.tsx.snap
  src/features/sync/grid/index.ts
  src/features/sync/images/add_icon.svg
  src/features/sync/images/default_icon.svg
  src/features/sync/images/desktop_icon.svg
  src/features/sync/images/index.ts
  src/features/sync/images/mobile_icon.svg
  src/features/sync/images/mobile_picture.png
  src/features/sync/images/remove_icon.svg
  src/features/sync/images/start_icon.svg
  src/features/sync/index.ts
  src/features/sync/misc/index.ts
  src/features/sync/modal/index.ts
  src/features/sync/text/index.ts
  stories/components/popupsModal.tsx
  stories/features/sync/disabledContent.tsx
  stories/features/sync/enabledContent.tsx
  stories/features/sync/modals.tsx
  stories/features/sync/modals/addNewChainCameraOption.tsx
  stories/features/sync/modals/addNewChainNoCamera.tsx
  stories/features/sync/modals/deviceType.tsx
  stories/features/sync/modals/enterSyncCode.tsx
  stories/features/sync/modals/existingSyncCode.tsx
  stories/features/sync/modals/newToSync.tsx
  stories/features/sync/modals/removeMainDevice.tsx
  stories/features/sync/modals/removeOtherDevice.tsx
  stories/features/sync/modals/resetSync.tsx
  stories/features/sync/modals/scanCode.tsx
  stories/features/sync/modals/syncNewDevice.tsx
  stories/features/sync/modals/viewSyncCode.tsx
  stories/features/sync/page/fakeData.ts
  stories/features/sync/page/fakeLocale.ts
  stories/features/sync/page/index.tsx
Labels: features/sync, revert

#316 Revert Sync in 0.58.x
  src/components/buttonsIndicators/button/__snapshots__/spec.tsx.snap
  src/components/buttonsIndicators/button/style.ts
  src/features/rewards/modalBackupRestore/__snapshots__/spec.tsx.snap
  src/features/rewards/siteBanner/index.tsx
  src/features/sync/grid/index.ts
  src/features/sync/images/add_icon.svg
  src/features/sync/images/default_icon.svg
  src/features/sync/images/desktop_icon.svg
  src/features/sync/images/index.ts
  src/features/sync/images/mobile_icon.svg
  src/features/sync/images/mobile_picture.png
  src/features/sync/images/remove_icon.svg
  src/features/sync/images/start_icon.svg
  src/features/sync/index.ts
  src/features/sync/misc/index.ts
  src/features/sync/modal/index.ts
  src/features/sync/text/index.ts
  stories/components/popupsModal.tsx
  stories/features/sync/disabledContent.tsx
  stories/features/sync/enabledContent.tsx
  stories/features/sync/modals.tsx
  stories/features/sync/modals/addNewChainCameraOption.tsx
  stories/features/sync/modals/addNewChainNoCamera.tsx
  stories/features/sync/modals/deviceType.tsx
  stories/features/sync/modals/enterSyncCode.tsx
  stories/features/sync/modals/existingSyncCode.tsx
  stories/features/sync/modals/newToSync.tsx
  stories/features/sync/modals/removeMainDevice.tsx
  stories/features/sync/modals/removeOtherDevice.tsx
  stories/features/sync/modals/resetSync.tsx
  stories/features/sync/modals/scanCode.tsx
  stories/features/sync/modals/syncNewDevice.tsx
  stories/features/sync/modals/viewSyncCode.tsx
  stories/features/sync/page/fakeData.ts
  stories/features/sync/page/fakeLocale.ts
  stories/features/sync/page/index.tsx
Labels: features/sync, revert

#306 Adding grant claim process to wallet panel
  src/features/rewards/grantCaptcha/index.tsx
  src/features/rewards/grantWrapper/__snapshots__/spec.tsx.snap
  src/features/rewards/grantWrapper/assets/gift.svg
  src/features/rewards/grantWrapper/index.tsx
  src/features/rewards/grantWrapper/style.ts
  src/features/rewards/walletWrapper/index.tsx
  stories/assets/locale.ts
  stories/features/rewards/concepts.tsx
Labels: PR/pending-review

#328 match sync interface with brave-core
  stories/features/sync/enabledContent.tsx
  stories/features/sync/modals/scanCode.tsx
  stories/features/sync/page.tsx
  stories/features/sync/page/fakeData.ts
Labels: features/sync

#329 make switch toggle grid with only 1 row
  src/features/sync/grid/index.ts
Labels: features/sync

#326 Adds already claimed status for the grant
  src/features/rewards/walletWrapper/index.tsx
Labels: rewards

#327 Allows for custom publisher logo in donationOverlay
  src/features/rewards/donationOverlay/index.tsx
  src/features/rewards/donationOverlay/style.ts
  stories/features/rewards/other.tsx
Labels: PR/pending-review
