Repository brave/brave-ui, pull requests merged in 2019-06, with the labels that each got.

#485 Change Background Settings for New Tabs Page
  src/features/newTab/default/index.ts
  src/features/newTab/default/page/index.ts
  src/features/newTab/default/settings/index.ts
  src/features/newTab/toggle/index.tsx
  src/features/newTab/toggle/style.ts
  src/features/rewards/walletSummary/__snapshots__/spec.tsx.snap
  src/theme/brave-dark.ts
  src/theme/brave-default.ts
  src/theme/theme-interface.ts
  stories/features/newTab/default.tsx
  stories/features/newTab/default/footerInfo.tsx
  stories/features/newTab/default/index.tsx
  stories/features/newTab/default/settings.tsx
  stories/features/newTab/fakeLocale.ts
Labels: features/newtab

#482 Adds Add Funds button to the notification
  src/features/rewards/amount/__snapshots__/spec.tsx.snap
  src/features/rewards/amount/index.tsx
  src/features/rewards/donate/__snapshots__/spec.tsx.snap
  src/features/rewards/donate/index.tsx
  src/features/rewards/grantComplete/__snapshots__/spec.tsx.snap
  src/features/rewards/grantComplete/index.tsx
  src/features/rewards/listToken/index.tsx
  src/features/rewards/profile/index.tsx
  src/features/rewards/siteBanner/__snapshots__/spec.tsx.snap
  src/features/rewards/tip/__snapshots__/spec.tsx.snap
  src/features/rewards/walletSummary/__snapshots__/spec.tsx.snap
  src/features/rewards/walletSummary/index.tsx
  src/features/rewards/walletWrapper/index.tsx
Labels: PR/pending-review, rewards

#495 Reddit integration
  src/components/icons/fc-logo-reddit.tsx
  src/components/icons/index.tsx
  src/features/rewards/profile/index.tsx
  src/features/rewards/siteBanner/index.tsx
  src/features/rewards/toggleTips/index.tsx
  stories/components/formControls.tsx
  stories/features/rewards/concepts.tsx
  stories/features/rewards/other.tsx
  stories/features/rewards/settings/donationsBox.tsx
  stories/features/rewards/settingsMobile/donationsBoxMobile.tsx
  stories/features/rewards/wallet.tsx
Labels: PR/pending-review, rewards

#496 Revert "Revert "don't show USD conversion in wallet monthly tip""
  src/features/rewards/walletPanel/index.tsx
  src/features/rewards/walletPanel/style.ts
  stories/features/rewards/concepts.tsx
Labels: rewards

#459 Adds Vimeo support
  src/components/icons/fc-logo-vimeo.tsx
  src/components/icons/index.tsx
  src/features/rewards/profile/index.tsx
  src/features/rewards/siteBanner/index.tsx
  src/features/rewards/toggleTips/index.tsx
  stories/features/rewards/other.tsx
  stories/features/rewards/wallet.tsx
Labels: PR/pending-review, rewards

#499 Adds token text to grant final screen
  src/features/rewards/grantComplete/__snapshots__/spec.tsx.snap
  src/features/rewards/grantComplete/index.tsx
  src/features/rewards/walletWrapper/index.tsx
  stories/assets/locale.ts
  stories/features/rewards/concepts.tsx
  stories/features/rewards/grant.tsx
  stories/features/rewards/settings/grant.tsx
  stories/features/rewards/settingsMobile/grantMobile.tsx
Labels: rewards

#498 Tip banner display is now customized for Reddit inline tipping
  src/features/rewards/index.ts
  src/features/rewards/mediaBox/index.tsx
  src/features/rewards/mediaBox/style.ts
  src/features/rewards/tweetBox/index.tsx
  stories/features/rewards/concepts.tsx
  stories/features/rewards/other.tsx
Labels: PR/pending-review, rewards

#501 Implement tip banner display for Reddit
  src/features/rewards/index.ts
  src/features/rewards/mediaBox/index.tsx
  src/features/rewards/mediaBox/style.ts
  src/features/rewards/tweetBox/index.tsx
  stories/features/rewards/concepts.tsx
  stories/features/rewards/other.tsx
Labels: rewards

#502 GitHub as Provider for panel support
  src/components/icons/fc-logo-github.tsx
  src/components/icons/index.tsx
  src/features/rewards/profile/index.tsx
  src/features/rewards/siteBanner/index.tsx
  src/features/rewards/toggleTips/index.tsx
  stories/components/formControls.tsx
  stories/features/rewards/concepts.tsx
  stories/features/rewards/other.tsx
  stories/features/rewards/settings/donationsBox.tsx
  stories/features/rewards/wallet.tsx
Labels: rewards

#508 Adjust media query boundaries to account for large stats and margins
  src/features/newTab/default/grid/index.ts
  src/features/newTab/default/settings/index.ts
  src/features/newTab/default/topSites/index.ts
Labels: features/newtab

#504 ✨New welcome flow for importing settings from other browsers
  src/features/welcome/index.ts
  src/features/welcome/select/carat.svg
  src/features/welcome/select/index.ts
  stories/features/welcome/page/fakeLocale.ts
  stories/features/welcome/page/screens/importBox.tsx
  stories/features/welcome/page/screens/searchBox.tsx
Labels: component/select
