Repository brave/brave-ui, pull requests merged in 2019-01, with the labels that each got.

#335 Updating Rewards icon assets
  src/components/icons/fc-ads-megaphone.tsx
  src/components/icons/fc-rewards-activate.tsx
  src/components/icons/fc-rewards-send-tips.tsx
  src/components/icons/index.tsx
  src/features/rewards/tipsMigrationAlert/index.tsx
  src/features/rewards/welcomePage/__snapshots__/spec.tsx.snap
  src/features/rewards/welcomePage/assets/braveAds.tsx
  src/features/rewards/welcomePage/assets/braveContribute.tsx
  src/features/rewards/welcomePage/assets/turnOnRewards.tsx
  src/features/rewards/welcomePage/index.tsx
Labels: PR/pending-review

#340 Adds reserved amount to wallet summary
  src/features/rewards/walletPanel/index.tsx
  src/features/rewards/walletPanel/style.ts
  src/features/rewards/walletSummary/index.tsx
  src/features/rewards/walletSummary/style.ts
  src/features/rewards/walletWrapper/__snapshots__/spec.tsx.snap
  src/features/rewards/walletWrapper/style.ts
  stories/assets/locale.ts
  stories/features/rewards/wallet.tsx
Labels: rewards

#343 Updating disabled text, text color, and icon for ads
  src/features/rewards/disabledContent/__snapshots__/spec.tsx.snap
  src/features/rewards/disabledContent/index.tsx
  src/features/rewards/disabledContent/style.ts
  stories/assets/img/rewards_ads.svg
  stories/assets/img/rewards_contribute.svg
  stories/features/rewards/other.tsx
  stories/features/rewards/settings/adsBox.tsx
  stories/features/rewards/settings/contributeBox.tsx
  stories/features/rewards/settings/fakeLocale.ts
Labels: PR/pending-review, rewards

#348 Adding grant claim process to wallet panel
  src/features/rewards/grantCaptcha/__snapshots__/spec.tsx.snap
  src/features/rewards/grantCaptcha/index.tsx
  src/features/rewards/grantCaptcha/style.ts
  src/features/rewards/grantWrapper/__snapshots__/spec.tsx.snap
  src/features/rewards/grantWrapper/assets/gift.svg
  src/features/rewards/grantWrapper/index.tsx
  src/features/rewards/grantWrapper/style.ts
  src/features/rewards/walletWrapper/index.tsx
  src/features/rewards/walletWrapper/style.ts
  stories/assets/locale.ts
  stories/features/rewards/concepts.tsx
Labels: merged/bc-0.58.x-release, rewards

#349 Tip cursor
  src/features/rewards/donate/__snapshots__/spec.tsx.snap
  src/features/rewards/donate/style.ts
  src/features/rewards/siteBanner/__snapshots__/spec.tsx.snap
  src/features/rewards/tip/__snapshots__/spec.tsx.snap
Labels: merged/bc-0.59.x-beta, rewards

#351 Fixes locale mix
  src/features/rewards/walletSummary/__snapshots__/spec.tsx.snap
  src/features/rewards/walletSummary/index.tsx
  stories/assets/locale.ts
Labels: rewards

#353 Adding tip information to donation overlay
  src/features/rewards/donationOverlay/index.tsx
  src/features/rewards/donationOverlay/style.ts
  stories/assets/locale.ts
  stories/features/rewards/other.tsx
Labels: rewards

#359 Adds enabled AC to the panel
  .cache/325c8f456729b912b0d2134054eb7448-dfeeb2271cc2857eb0a45a5003c8bbee
  src/features/rewards/walletPanel/__snapshots__/spec.tsx.snap
  src/features/rewards/walletPanel/index.tsx
  src/features/rewards/walletPanel/style.ts
  stories/features/rewards/wallet.tsx
Labels: rewards
