Repository brave/brave-ui, pull requests merged in 2019-05, with the labels that each got.

#457 brand new NoScript option
  .stylelintrc
  package-lock.json
  package.json
  src/features/shields/display.ts
  src/features/shields/index.ts
  src/features/shields/media/index.ts
  src/features/shields/structure/dash.svg
  src/features/shields/structure/index.ts
  src/theme/brave-default.ts
  src/theme/shields-dark.ts
  src/theme/shields-light.ts
  src/theme/theme-interface.ts
  stories/features/shields/components/controls/scriptsControl.tsx
  stories/features/shields/components/list/dynamic.tsx
  stories/features/shields/components/list/noScriptDetails.tsx
  stories/features/shields/components/list/noScriptList.tsx
  stories/features/shields/components/list/static.tsx
  stories/features/shields/fakeData.ts
  stories/features/shields/fakeLocale.ts
  stories/features/shields/helpers.ts
  stories/features/shields/types.ts
Labels: features/shields

#469 Fix New Tabs Page display for RTL Languages
  src/features/newTab/default/grid/index.ts
Labels: bug, features/newtab

#474 Storybook housekeeping
  package-lock.json
  package.json
  stories/assets/img/bartBaker.jpeg
  stories/assets/img/brave-favicon.png
  stories/assets/locale.ts
  stories/components/buttonsIndicators.tsx
  stories/features/rewards/concepts.tsx
  stories/features/rewards/modal.tsx
  stories/features/rewards/other.tsx
  stories/features/rewards/settings/contributeBox.tsx
  stories/features/rewards/settings/donationsBox.tsx
  stories/features/rewards/settings/pageWallet.tsx
  stories/features/rewards/settingsMobile/contributeBoxMobile.tsx
  stories/features/rewards/settingsMobile/donationsBoxMobile.tsx
  stories/features/rewards/table.tsx
  stories/features/rewards/wallet.tsx
Labels: dependency-update

#461 Rewards: Support Twitter Tips
  src/features/rewards/donationOverlay/index.tsx
  src/features/rewards/donationOverlay/style.ts
  src/features/rewards/index.ts
  src/features/rewards/siteBanner/index.tsx
  src/features/rewards/siteBanner/style.ts
  src/features/rewards/tweetBox/index.tsx
  src/features/rewards/tweetBox/style.ts
  stories/assets/locale.ts
  stories/features/rewards/concepts.tsx
  stories/features/rewards/other.tsx
Labels: rewards

#453 Verified icons
  src/components/icons/index.tsx
  src/components/icons/unverified-help-o.tsx
  src/components/icons/unverified-help.tsx
  src/components/icons/unverified-s.tsx
  src/components/icons/verified-o.tsx
  src/components/icons/verified-s.tsx
  src/features/rewards/modalActivity/__snapshots__/spec.tsx.snap
  src/features/rewards/modalActivity/index.tsx
  src/features/rewards/modalActivity/style.ts
  src/features/rewards/profile/__snapshots__/spec.tsx.snap
  src/features/rewards/profile/index.tsx
  src/features/rewards/profile/style.ts
  src/features/rewards/walletPanel/__snapshots__/spec.tsx.snap
  stories/assets/locale.ts
Labels: rewards

#473 Service text ready
  src/features/rewards/welcomePage/__snapshots__/spec.tsx.snap
  src/features/rewards/welcomePage/index.tsx
  stories/assets/locale.ts
Labels: rewards

#479 Removes text from banner when custom bg image is set
  src/features/rewards/siteBanner/index.tsx
  src/features/rewards/siteBanner/style.ts
Labels: rewards

#360 Adds pending contribution table and modal
  src/features/rewards/index.ts
  src/features/rewards/modalPending/__snapshots__/spec.tsx.snap
  src/features/rewards/modalPending/index.tsx
  src/features/rewards/modalPending/spec.tsx
  src/features/rewards/modalPending/style.ts
  src/features/rewards/tablePending/__snapshots__/spec.tsx.snap
  src/features/rewards/tablePending/index.tsx
  src/features/rewards/tablePending/spec.tsx
  src/features/rewards/tablePending/style.ts
  src/features/rewards/walletSummary/index.tsx
  src/features/rewards/walletSummary/style.ts
  stories/assets/locale.ts
  stories/features/rewards/modal.tsx
  stories/features/rewards/table.tsx
  stories/features/rewards/wallet.tsx
Labels: rewards

#470 Add Funds modal now shows crypto selections centered
  src/features/rewards/modalAddFunds/__snapshots__/spec.tsx.snap
  src/features/rewards/modalAddFunds/index.tsx
  src/features/rewards/modalAddFunds/style.ts
  src/features/rewards/walletWrapper/index.tsx
  stories/features/rewards/modal.tsx
  stories/features/rewards/settings/pageWallet.tsx
  stories/features/rewards/table.tsx
Labels: rewards

#471 Adds data-test-id to tableContribute row anchor
  src/features/rewards/tableContribute/index.tsx
Labels: rewards

#480 Add Funds modal now shows crypto selections centered
  src/features/rewards/modalAddFunds/__snapshots__/spec.tsx.snap
  src/features/rewards/modalAddFunds/index.tsx
  src/features/rewards/modalAddFunds/style.ts
  src/features/rewards/walletWrapper/index.tsx
  stories/features/rewards/modal.tsx
  stories/features/rewards/settings/pageWallet.tsx
Labels: rewards

#443 Adds excluded sites view to modalContribute
  src/features/rewards/modalContribute/__snapshots__/spec.tsx.snap
  src/features/rewards/modalContribute/index.tsx
  src/features/rewards/modalContribute/style.ts
  src/features/rewards/restoreSites/__snapshots__/spec.tsx.snap
  src/features/rewards/restoreSites/index.tsx
  src/features/rewards/restoreSites/style.ts
  src/features/rewards/tab/index.tsx
  src/features/rewards/tab/style.ts
  src/features/rewards/tableContribute/index.tsx
  src/features/rewards/tableContribute/style.ts
  stories/assets/locale.ts
  stories/features/rewards/modal.tsx
  stories/features/rewards/settings/contributeBox.tsx
Labels: PR/pending-review, rewards

#475 Publisher status refresh now shows confirmation
  src/components/icons/checkmark-circle-l.tsx
  src/components/icons/checkmark-circle-r.tsx
  src/components/icons/checkmark-circle-s.tsx
  src/components/icons/index.tsx
  src/features/rewards/profile/index.tsx
  src/features/rewards/profile/style.ts
  stories/features/rewards/concepts.tsx
Labels: PR/pending-review, rewards
