Repository brave/brave-ui, pull requests merged in 2019-02, with the labels that each got.

#366 Fixes title when box is disabled
  src/features/rewards/box/index.tsx
  src/features/rewards/box/style.ts
Labels: rewards

#369 Various Android fixes
  src/components/popupModals/modal/index.tsx
  src/components/popupModals/modal/style.ts
  src/features/rewards/list/__snapshots__/spec.tsx.snap
  src/features/rewards/list/style.ts
  src/features/rewards/modalAddFunds/index.tsx
Labels: rewards

#372 Showing settings child in settings pane
  src/features/rewards/mobile/boxMobile/index.tsx
Labels: PR/pending-review, rewards

#371 Fixes mobile settings header
  src/features/rewards/mobile/boxMobile/__snapshots__/spec.tsx.snap
  src/features/rewards/mobile/boxMobile/style.ts
Labels: PR/pending-review, rewards

#374 Adds action to backup wallet notification
  src/features/rewards/walletWrapper/index.tsx
  src/features/rewards/walletWrapper/style.ts
  stories/assets/locale.ts
  stories/features/rewards/concepts.tsx
Labels: rewards

#357 Adds type attribute to grantClaim (ads) (#2)
  src/features/rewards/grantClaim/__snapshots__/spec.tsx.snap
  src/features/rewards/grantClaim/index.tsx
  src/features/rewards/grantClaim/style.ts
  stories/assets/locale.ts
  stories/features/rewards/grant.tsx
  stories/features/rewards/other.tsx
  stories/features/rewards/settings/grant.tsx
  stories/features/rewards/settings/settings.tsx
  stories/features/rewards/settingsMobile/grantMobile.tsx
  stories/features/rewards/settingsMobile/settingsMobile.tsx
Labels: rewards

#385 Upgrading jest to 24.1.0, fixing npm audit
  package-lock.json
  package.json
  src/features/rewards/mobile/boxMobile/index.tsx
Labels: PR/pending-review, dependency-update

#383 Front-end Android fixes
  src/features/rewards/listToken/__snapshots__/spec.tsx.snap
  src/features/rewards/listToken/style.ts
  src/features/rewards/mobile/boxMobile/__snapshots__/spec.tsx.snap
  src/features/rewards/mobile/boxMobile/index.tsx
  src/features/rewards/mobile/boxMobile/style.ts
  src/features/rewards/walletSummary/__snapshots__/spec.tsx.snap
  stories/features/rewards/settingsMobile/contributeBoxMobile.tsx
  stories/features/rewards/settingsMobile/style.ts
Labels: rewards

#387 1: Storybook and package.json update
  .storybook/addons.js
  .storybook/config.js
  .storybook/manager-head.html
  .storybook/style/github_style.css
  examples/rewards-mobile-settings/webpack.config.js
  examples/webpack-4/webpack.config.js
  package-lock.json
  package.json
  package/package.json
  stories/old/buttons.story.tsx
  stories/old/fieldsAndLabels.story.tsx
  stories/old/selectors.story.tsx
  stories/old/typographyTextAndLinks.story.tsx
  stories/old/views.story.tsx
Labels: architecture

#392 Adding load spinner for mobile grant claim
  src/features/rewards/grantClaim/__snapshots__/spec.tsx.snap
  src/features/rewards/grantClaim/index.tsx
  src/features/rewards/grantClaim/style.ts
  stories/features/rewards/settingsMobile/grantMobile.tsx
Labels: android, rewards

#382 Shields v2.1
  .stylelintrc
  package-lock.json
  src/components/buttonsIndicators/button/__snapshots__/spec.tsx.snap
  src/components/buttonsIndicators/button/style.ts
  src/features/rewards/grantComplete/__snapshots__/spec.tsx.snap
  src/features/rewards/grantError/__snapshots__/spec.tsx.snap
  src/features/rewards/modalBackupRestore/__snapshots__/spec.tsx.snap
  src/features/rewards/panelWelcome/__snapshots__/spec.tsx.snap
  src/features/shields/button/index.ts
  src/features/shields/container/index.ts
  src/features/shields/display.ts
  src/features/shields/display/index.ts
  src/features/shields/icons/index.ts
  src/features/shields/index.ts
  src/features/shields/media/background.svg
  src/features/shields/media/index.ts
  src/features/shields/media/template.tsx
  src/features/shields/options/index.tsx
  src/features/shields/options/style.ts
  src/features/shields/select/carat.svg
  src/features/shields/select/index.ts
  src/features/shields/structure.ts
  src/features/shields/text/index.ts
  src/features/shields/toggle/index.tsx
  src/features/shields/toggle/style.ts
  stories/features/shields/components/blockedReources/blockedResources.tsx
  stories/features/shields/components/blockedReources/dynamicList.tsx
  stories/features/shields/components/blockedReources/staticList.tsx
  stories/features/shields/components/controls/adsTrackersControl.tsx
  stories/features/shields/components/controls/cookiesControl.tsx
  stories/features/shields/components/controls/deviceRecognitionControl.tsx
  stories/features/shields/components/controls/httpsUpgradesControl.tsx
  stories/features/shields/components/controls/scriptsControl.tsx
  stories/features/shields/components/footer.tsx
  stories/features/shields/components/header.tsx
  stories/features/shields/components/interfaceControls.tsx
  stories/features/shields/components/list/dynamic.tsx
  stories/features/shields/components/list/static.tsx
  stories/features/shields/components/privacyControls.tsx
  stories/features/shields/components/securityControls.tsx
  stories/features/shields/fakeData.ts
  stories/features/shields/fakeLocale.ts
  stories/features/shields/helpers.ts
  stories/features/shields/index.tsx
  stories/features/shields/story.tsx
Labels: features/shields
