Repository brave/brave-ui, pull requests merged in 2019-07, with the labels that each got.

#484 Don't vertically clip creator header images in tip UI
  src/features/rewards/siteBanner/__snapshots__/spec.tsx.snap
  src/features/rewards/siteBanner/index.tsx
  src/features/rewards/siteBanner/style.ts
  src/features/rewards/walletSummary/spec.tsx
  stories/features/rewards/concepts.tsx
Labels: rewards

#503 Toggle widgets NTP
  src/features/newTab/default/clock/index.tsx
  src/features/newTab/default/grid/index.ts
  src/features/newTab/default/index.ts
  src/features/newTab/default/settings/index.ts
  src/features/newTab/default/topSites/index.ts
  src/features/newTab/default/widget/index.tsx
  src/features/newTab/default/widget/styles.ts
  stories/features/newTab/default/index.tsx
  stories/features/newTab/default/settings.tsx
  stories/features/newTab/default/stats.tsx
  stories/features/newTab/default/topSites/topSitesList.tsx
  stories/features/newTab/fakeLocale.ts
Labels: features/newtab

#515 Fixing detail view and settings page logic error (boxMobile) [Android]
  src/features/rewards/mobile/boxMobile/index.tsx
Labels: android, rewards

#497 Uphold wallet verification UI
  src/components/buttonsIndicators/button/__snapshots__/spec.tsx.snap
  src/components/buttonsIndicators/button/index.tsx
  src/components/icons/fc-rewards-check.tsx
  src/components/icons/fc-rewards-wallet-check.tsx
  src/components/icons/index.tsx
  src/features/rewards/grantComplete/__snapshots__/spec.tsx.snap
  src/features/rewards/index.ts
  src/features/rewards/modalRedirect/__snapshots__/spec.tsx.snap
  src/features/rewards/modalRedirect/index.tsx
  src/features/rewards/modalRedirect/spec.tsx
  src/features/rewards/modalRedirect/style.ts
  src/features/rewards/panelVerify/__snapshots__/spec.tsx.snap
  src/features/rewards/panelVerify/index.tsx
  src/features/rewards/panelVerify/spec.tsx
  src/features/rewards/panelVerify/style.ts
  src/features/rewards/walletPopup/__snapshots__/spec.tsx.snap
  src/features/rewards/walletPopup/index.tsx
  src/features/rewards/walletPopup/spec.tsx
  src/features/rewards/walletPopup/style.ts
  src/features/rewards/walletSummarySlider/style.ts
  src/features/rewards/walletWrapper/__snapshots__/spec.tsx.snap
  src/features/rewards/walletWrapper/index.tsx
  src/features/rewards/walletWrapper/style.ts
  stories/assets/locale.ts
  stories/features/rewards/concepts.tsx
  stories/features/rewards/modal.tsx
  stories/features/rewards/other.tsx
  stories/features/rewards/settings/pageWallet.tsx
  stories/features/rewards/settings/settings.tsx
  stories/features/rewards/settingsMobile/mobileWalletPanel.tsx
  stories/features/rewards/wallet.tsx
Labels: rewards
