Repository brave/brave-ui, pull requests merged in 2019-03, with the labels that each got.

#394 Increase contrast of join button in rewards join panel
  src/features/rewards/panelWelcome/__snapshots__/spec.tsx.snap
  src/features/rewards/panelWelcome/index.tsx
  src/features/rewards/panelWelcome/style.ts
  src/features/rewards/walletSummary/__snapshots__/spec.tsx.snap
Labels: rewards

#393 Tweak close icons in Rewards setting box
  src/features/rewards/box/__snapshots__/spec.tsx.snap
  src/features/rewards/box/index.tsx
  src/features/rewards/box/style.ts
Labels: rewards

#399 Android fixes (#1136, #1018, #1004, #1147)
  src/components/formControls/select/style.ts
  src/components/popupModals/modal/index.tsx
  src/components/popupModals/modal/style.ts
  src/features/rewards/mobile/boxMobile/__snapshots__/spec.tsx.snap
  src/features/rewards/mobile/boxMobile/style.ts
  src/features/rewards/rewardsButton/__snapshots__/spec.tsx.snap
  src/features/rewards/rewardsButton/style.ts
  src/features/rewards/walletPanel/__snapshots__/spec.tsx.snap
  src/features/rewards/walletWrapper/__snapshots__/spec.tsx.snap
  src/features/rewards/walletWrapper/style.ts
  src/features/rewards/welcomePage/__snapshots__/spec.tsx.snap
  stories/features/rewards/settingsMobile/contributeBoxMobile.tsx
Labels: android, rewards

#411 Adding selectMobile component
  src/features/rewards/mobile/index.ts
  src/features/rewards/mobile/selectMobile/__snapshots__/spec.tsx.snap
  src/features/rewards/mobile/selectMobile/index.tsx
  src/features/rewards/mobile/selectMobile/spec.tsx
  src/features/rewards/mobile/selectMobile/style.ts
  stories/features/rewards/settingsMobile/contributeBoxMobile.tsx
Labels: PR/pending-review, android, rewards

#407 Update theme story styling
  stories/components/theme.tsx
Labels: storybook

#408 Storybook tidy
  .storybook/config.js
  .storybook/manager-head.html
  .storybook/style/github_style.css
  .storybook/styles.css
  package-lock.json
  package.json
  stories/components/dataTables.tsx
  stories/components/formControls.tsx
  stories/components/layout.tsx
  stories/components/popupsModal.tsx
  stories/components/text.tsx
  stories/features/rewards/grant.tsx
  stories/features/rewards/other.tsx
  stories/features/rewards/table.tsx
  stories/features/rewards/wallet.tsx
  stories/features/sync/page/index.tsx
Labels: storybook

#425 Adding hideAddFundsText prop to WalletEmpty
  src/features/rewards/walletEmpty/index.tsx
  src/features/rewards/walletEmpty/style.ts
  stories/assets/locale.ts
  stories/features/rewards/settingsMobile/mobileWalletPanel.tsx
Labels: android, rewards

#426 Shields for brave-core 0.63.x
  .stylelintrc
  package-lock.json
  src/components/buttonsIndicators/button/__snapshots__/spec.tsx.snap
  src/components/buttonsIndicators/button/style.ts
  src/features/rewards/grantComplete/__snapshots__/spec.tsx.snap
  src/features/rewards/grantError/__snapshots__/spec.tsx.snap
  src/features/rewards/modalBackupRestore/__snapshots__/spec.tsx.snap
  src/features/rewards/panelWelcome/__snapshots__/spec.tsx.snap
  src/features/shields/button/index.ts
  src/features/shields/container/index.ts
  src/features/shields/display.ts
  src/features/shields/display/index.ts
  src/features/shields/icons/index.ts
  src/features/shields/index.ts
  src/features/shields/media/background.svg
  src/features/shields/media/index.ts
  src/features/shields/media/template.tsx
  src/features/shields/options/index.tsx
  src/features/shields/options/style.ts
  src/features/shields/select/carat.svg
  src/features/shields/select/index.ts
  src/features/shields/structure.ts
  src/features/shields/text/index.ts
  src/features/shields/toggle/index.tsx
  src/features/shields/toggle/style.ts
  stories/features/shields/components/blockedReources/blockedResources.tsx
  stories/features/shields/components/blockedReources/dynamicList.tsx
  stories/features/shields/components/blockedReources/staticList.tsx
  stories/features/shields/components/controls/adsTrackersControl.tsx
  stories/features/shields/components/controls/cookiesControl.tsx
  stories/features/shields/components/controls/deviceRecognitionControl.tsx
  stories/features/shields/components/controls/httpsUpgradesControl.tsx
  stories/features/shields/components/controls/scriptsControl.tsx
  stories/features/shields/components/footer.tsx
  stories/features/shields/components/header.tsx
  stories/features/shields/components/interfaceControls.tsx
  stories/features/shields/components/list/dynamic.tsx
  stories/features/shields/components/list/static.tsx
  stories/features/shields/components/privacyControls.tsx
  stories/features/shields/components/securityControls.tsx
  stories/features/shields/fakeData.ts
  stories/features/shields/fakeLocale.ts
  stories/features/shields/helpers.ts
  stories/features/shields/index.tsx
  stories/features/shields/story.tsx
Labels: features/shields

#424 Adds WalletPanelDisabled component
  src/features/rewards/index.ts
  src/features/rewards/rewardsButton/__snapshots__/spec.tsx.snap
  src/features/rewards/rewardsButton/index.tsx
  src/features/rewards/rewardsButton/style.ts
  src/features/rewards/walletPanel/__snapshots__/spec.tsx.snap
  src/features/rewards/walletPanelDisabled/__snapshots__/spec.tsx.snap
  src/features/rewards/walletPanelDisabled/index.tsx
  src/features/rewards/walletPanelDisabled/spec.tsx
  src/features/rewards/walletPanelDisabled/style.ts
  src/features/rewards/welcomePage/__snapshots__/spec.tsx.snap
  stories/assets/locale.ts
  stories/features/rewards/concepts.tsx
Labels: PR/pending-review, rewards

#416 Add data-test-id attributes for Rewards testing
  src/components/formControls/checkbox/index.tsx
  src/features/rewards/grantClaim/index.tsx
  src/features/rewards/grantComplete/index.tsx
  src/features/rewards/grantWrapper/index.tsx
  src/features/rewards/siteBanner/index.tsx
  src/features/rewards/tableContribute/index.tsx
  src/features/rewards/walletWrapper/index.tsx
Labels: rewards

#375 Making Rewards panel height dynamic
  src/features/rewards/walletPanel/__snapshots__/spec.tsx.snap
  src/features/rewards/walletPanel/style.ts
  src/features/rewards/walletSummary/__snapshots__/spec.tsx.snap
  src/features/rewards/walletSummary/style.ts
  src/features/rewards/walletSummarySlider/__snapshots__/spec.tsx.snap
  src/features/rewards/walletSummarySlider/index.tsx
  src/features/rewards/walletSummarySlider/style.ts
  src/features/rewards/walletWrapper/__snapshots__/spec.tsx.snap
  src/features/rewards/walletWrapper/style.ts
  stories/features/rewards/concepts.tsx
Labels: PR/pending-review, rewards

#432 Shields improvements
  src/features/shields/display.ts
  src/features/shields/structure.ts
Labels: features/shields

#429 Adding notification type for tips being processed
  src/features/rewards/walletWrapper/index.tsx
  stories/assets/locale.ts
Labels: rewards

#427 Changing tipsMigrationAlert -> boxAlert, adding Ads variant
  src/features/rewards/boxAlert/__snapshots__/spec.tsx.snap
  src/features/rewards/boxAlert/index.tsx
  src/features/rewards/boxAlert/spec.tsx
  src/features/rewards/boxAlert/style.ts
  src/features/rewards/index.ts
  stories/assets/locale.ts
  stories/features/rewards/settings/adsBox.tsx
  stories/features/rewards/settings/donationsBox.tsx
Labels: rewards

#422 v5 storybook update
  .storybook/addons.js
  .storybook/config.js
  .storybook/manager-head.html
  .storybook/webpack.config.js
  package-lock.json
  package.json
  stories/components/formControls.tsx
  stories/features/rewards/concepts.tsx
  stories/features/rewards/grant.tsx
  stories/features/rewards/other.tsx
  stories/features/rewards/wallet.tsx
  tsconfig-storybook.json
Labels: dependency-update

#436 fix vulneratilities found by npm audit
  package-lock.json
  package.json
Labels: dependency-update

#437 Fixing panel console error
  src/features/rewards/rewardsButton/__snapshots__/spec.tsx.snap
  src/features/rewards/rewardsButton/index.tsx
  src/features/rewards/rewardsButton/style.ts
  src/features/rewards/walletPanel/__snapshots__/spec.tsx.snap
  src/features/rewards/walletPanelDisabled/__snapshots__/spec.tsx.snap
  src/features/rewards/welcomePage/__snapshots__/spec.tsx.snap
Labels: rewards

#439 Using overflow-y: auto for unverified notice
  src/features/rewards/walletPanel/style.ts
Labels: PR/pending-review, rewards
